.contentBar {
    margin-right: 305px;
}


.contentNav {
    display: flex;
    padding: 5px;
    font-size: 14px;
}

.tipcTag {
    padding: 5px;
    color: #80bd01;
}

.currentTag {
    background: #80bd01;
    color: #fff;
    border-radius: 2px;
}


.topicsList {
    min-height: 70vh;
}

.contWrap {
    position: relative;
    padding: 8px 10px;
    line-height: 2em;

    &:not(:nth-last-of-type(1)) {
        border-bottom: 1px solid #eee;
    }
    
}

.itemImgWarp {
    float: left;
    width: 30px;
    height: 30px;

    img {
        width: 100%;
    }
}

.replyCount {
    float: left;
    width: 70px;
    text-align: center;
}

.itemContent {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tipcTab {
    padding: 1px 4px;
    margin-right: 5px;
    background: #e5e5e5;
    border-radius: 3px;
}

.tipcActive {
    background: #80bd01;
    color: #fff;
}

.contentTile {
    display: inline-block;
    max-width: 70%;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}

.itemTime {
    float: right;
    margin-left: 20px;
}

.pagination {
    padding: 0 10px 10px 10px;
}

.modal {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 979px) {
    .contentBar {
        margin-right: 0;
        margin: 0 5px;
    }

    .replyCount {
        position: absolute;
        bottom: 0;
        left: 88px;
        font-size: 62.5%;
        text-align: left;
        line-height: 1.3em;
    }

    .itemTime {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 62.5%;
        line-height: 1.3em;
    }

    .itemContent {
        padding-left: 40px;
    }

    .contentTile {
        font-size: 14px;
    }
}